* {
  --taskOrange: #fff5e7;
  --brownColor: #572926;
  --orageColor: #fdd8b6;
}

.comWindow * {
  color: var(--brownColor);
}

.comWindow .welcomeWrap {
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
}

.comWindow .welcomeWrap h1 {
  font-size: 40px;
}

.comWindow .welcomeWrap p {
  margin-top: 5px;
  font-size: 25px;
}

.profileWrap {
  display: flex;
  gap: 50px;
  margin: 0 0 50px 0;
  user-select: none;
}

.profileWrap .profImg {
  border-radius: 100%;
  background: #f2f2f2;
  height: 220px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileWrap .profImg img {
  padding: 20px;
  width: 100%;
}

.profileWrap .profTxt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  font-size: 25px;
}

.profileWrap .profTxt .pBold {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.comWindow .btnWrap {
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.comWindow .btnWrap button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  font-size: 25px;
  border: 2px solid var(--brownColor);
  border-radius: 10px;
  transition: all 0.1s linear;
  background: none;
  width: 200px;
}

.skillsWrap {
  margin-left: 10px;
}

.skillsWrap h3 {
  font-size: 30px;
  margin-bottom: 25px;
}

.skillsWrap .skillsIconWrap {
  display: flex;
  gap: 30px 40px;
  flex-wrap: wrap;
  align-items: center;
}

.skillsWrap .skillsIconWrap div {
  display: flex;
  flex-direction: column;
}

.skillsWrap .skillsIconWrap img {
  width: 100px;
  margin-bottom: 5px;
  height: 113px;
}
.skillsWrap .skillsIconWrap p {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .profileWrap {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  /* .profileWrap .profImg {
    height: 180px;
    width: 180px;
  } */
  .profileWrap .profTxt {
    gap: 30px 10px;
  }

  .comWindow .btnWrap {
    gap: 20px;
  }

  .skillsWrap {
    padding-bottom: 100px;
  }
  .skillsWrap h3 {
    text-align: center;
  }

  .skillsWrap .skillsIconWrap {
    justify-content: center;
    max-width: 790px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .profileWrap .profTxt {
    font-size: 20px;
  }
}
