#setWrap {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

#setWrap .platte {
  cursor: pointer;
  height: 220px;
  border: 10px solid white;
  background: white;
  overflow: hidden;
  border-radius: 10px;
}

#setWrap .platte .colorChip {
  width: 100%;
  height: 70%;
  border-radius: 5px;
}

#setWrap .platte .colorTxt {
  margin: 8px 10px;
}

#setWrap .platte .colorTxt p {
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
}

#creditWrap {
  padding: 30px 0;
}
#creditWrap h3 {
  font-size: 26px;
  margin-bottom: 7px;
}

#creditWrap ul li {
  font-size: 18px;
  margin: 0 0 6px 20px;
  position: relative;
}
#creditWrap ul li::before {
  position: absolute;
  top: 40%;
  left: -10px;
  content: "";
  width: 5px;
  height: 5px;
  background: var(--brownColor);
  display: inline-block;
  border-radius: 50%;
}
#creditWrap ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
