* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
  --orageColor: #fdd8b6;
}

body {
  background-color: var(--orageColor);
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
