nav#mobileNav ul {
  display: flex;
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 20px 10px;
  margin: 0 5px;
  text-align: center;
  transition: transform 0.3s;
  max-width: 650px;
  margin: 0 auto;
  backdrop-filter: blur(10px);
}

.navDown {
  transform: translateY(185px);
}

nav#mobileNav li {
  max-width: 115px;
  padding: 20px 30px;
  border-radius: 20px;
  background: white;
  cursor: pointer;
}

nav#mobileNav li div {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.mobSect {
  width: 95vw;
  margin: 0 auto;
  background: white;
}

@media screen and (max-width: 500px) {
  nav ul {
    justify-content: space-between;
  }
  nav li {
    padding: 10px 15px;
  }
  nav img {
    width: 40px;
    margin: 0 auto;
  }
}
