nav#mobileNav ul {
  display: flex;
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 20px 10px;
  margin: 0 5px;
  text-align: center;
  transition: transform 0.3s;
  max-width: 650px;
  margin: 0 auto;
  backdrop-filter: blur(10px);
}

.navDown {
  transform: translateY(185px);
}

nav#mobileNav li {
  max-width: 115px;
  padding: 20px 30px;
  border-radius: 20px;
  background: white;
  cursor: pointer;
  width: 20%;
  color: var(--brownColor);
  font-weight: 600;
}

nav#mobileNav li div {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.mobSect {
  width: 95vw;
  margin: 0 auto;
  background: white;
}

.mobPalette {
  background: rgb(221, 221, 221);
  border: 15px solid rgb(221, 221, 221);
  border-radius: 12px;
  margin: 15px 0 30px;
}

.mobPalette .mobColorChip {
  height: 150px;
  background: #f9fcfd;
  border-radius: 7px 7px 0 0;
}

.mobPalette .mobColorTxt {
  padding: 10px 10px 2px;
  font-size: 20px;
  font-weight: 600;
  color: var(--brownColor);
}

.mobPalette .mobColorTxt p:first-child {
  text-transform: uppercase;
}
.mobPalette .mobColorTxt p:last-child {
  text-transform: capitalize;
}

@media screen and (max-width: 1024px) {
  body,
  section.mobSect,
  .comWindow {
    background: #f9fcfd;
  }
}

@media screen and (max-width: 500px) {
  nav#mobileNav ul {
    justify-content: space-between;
  }
  nav#mobileNav li {
    min-width: 94px;
    padding: 10px;
  }
  nav#mobileNav img {
    width: 40px;
    margin: 0 auto;
  }
}
